body{
    background-color:cornsilk;
    font-family: 'satisfy';
}
.header_div{
    background:white;
    color: cadetblue;
}
.header_div p{
    font-family: 'Oleo Script';
    color:grey;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: bold;
}
.header_div h2{
    font-family: 'Langar';
}
.main_div button{
    font-family: 'Roboto';
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy-right-footer{
    position: fixed;
    color: grey;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    font-family: 'comic sans';
    line-height: 3;
    background-color: antiquewhite;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    text-align: center;
}